.app {
  border: 1px solid #d3d3d3;
}

.button {
  float: left;
  width: 30%;
}

.difficulty {
  width: 49%;
  float: left;
}

.game {
  background-color: red;
}

.hidden {
  display: none;
}

.mine {
  float: left;
  border: 1px solid #d3d3d3;
  background-color: black;
  height: 20px;
  width: 20px;
}

.minefield {
  border: 1px solid #d3d3d3;
}

.selected {
  border: 1px solid #d3d3d3;
}

.settings {
  width: 100%;
  float: left;
}

.size {
  width: 49%;
  float: left;
}

.uncovered {
  background-color: white;
}


/*clearfix hack*/
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
